.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 20%
    right: 20%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 45%
    right: 75%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 65%
    right: 35%

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)

.boton *, .boton--sm *
  color: #fff

.banner-interno__fondo    
  background-image: url("../assets/curso/portada/banner_interno.png") !important


.banner-principal
  @media (max-width: $bp-max-md)
    .tarjeta
      background-image: url('../assets/curso/portada/fondo-banner-principal-movil.png') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
    &__info
      padding-top: 14% !important 
    h1, p
      color: $white

.banner-principal  
  @media (min-width: 768px) and (max-width: 1024px)
    .tarjeta
      background-image: url('../assets/curso/portada/fondo-banner-principal-tablet.png') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
    &__info
      padding-top: 8% !important 
    h1, p
      color: $white


.banner-principal .tarjeta
  background-position: left 50% !important
.banner-principal__row .banner-principal__img
  width: 400px !important  
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important   
.banner-interno__titulo__icono i
  color: $color-primario
figcaption
  font-weight: normal

.bg1 
  background-color: #F4EBDC
  border-radius: 20px
.bg2
  background-color: #4F6A57
.bg3
  background-color: #F4EBDC !important
.bg4
  background-color: #EBEFF1
  border-radius: 20px
.fas.fa-star
  color: #24383F !important
.tabs-a__tab:last-child 
  margin-bottom: 0 !important
  background-color: #4F6A57
.txt
  color: #12263F !important
.tabs-a__tab__text 
  color: white
.titulo-segundo:after 
  border-left-color: #4f6a57
.acordion .tarjeta.tarjeta--azul.acordion__activo
  background-color: #A7AFB2
.acordion .tarjeta--azul
  background-color: #F4EBDC
.fondot3_1
  background: url('../assets/curso/Tema3/fondo1.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: cover
.fondot3_2
  background: url('../assets/curso/Tema3/fondo2.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: bottom 
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem
  @media screen and (max-width: 767px)
    margin-inline: -2.4rem
    margin-right: -2rem
    margin-left: -2rem
    background-size:  100% 100%
.fondot3_3
  background: url('../assets/curso/Tema3/fondo3.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: cover
.fondot2
  background: url('../assets/curso/Tema2/fondo1.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: cover
.bloque-texto-g__img 
  width: 20%
  top: -20px
.acordion__accion__btn--a i, .acordion__accion__btn--b i 
  color: white
.acordion__accion__btn--a 
  background-color: #bb523d
.circl-arrow .slyder-f__btn i
  font-size: 1.5rem
  min-width: 50px
  max-width: 50px
  min-height: 50px
  max-height: 50px
  flex: auto
  border-radius: 50%
  background-color: #BB523D
  display: flex
  justify-content: center
  align-items: center

.slyder-f__btn
  width: 8%
  display: flex
  align-items: center
  justify-content: center
  cursor: pointer

.barra-avance__boton--regresar span 
  color: #fff !important
.boton:active *, .boton--sm:active *, .boton:focus *, .boton--sm:focus *, .boton:hover *, .boton--sm:hover * 
  color: #fff
.fit
  width: fit-content

